<div style="border: 1px dashed cadetblue; padding: 0 20px 20px 20px"> 
    <h3 style="color:cadetblue">Beta Component</h3>
    <h4>The Data Is: {{ data }} </h4> 
    <input [(ngModel)]='data' /> 
    <br><br> 
    <select #custSelect>
        <option *ngFor="let cust of customers" 
                [value]="cust.name">
            {{cust.name}} {{cust.representative}} {{cust.state}}
        </option>
    </select>
    <br><br> 
    <button (click)="btnClick()">Delete Row</button>
    <br>
    <app-child-beta [stringData]="data"></app-child-beta>
    <a [routerLink]="['/a']">Go to A</a> 
</div> 
