<div style="border: 1px dashed darkgoldenrod; padding: 0 20px 20px 20px"> 
  <h3 style="color:darkgoldenrod">Omega Component</h3>
  <h4>THIS ONE JUST READS DATA: {{ data }} </h4> 
  
  <table style='text-align: left; padding: 30px 0 5px 0;'>
    <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Rep</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let cust of customers;'>
        <td>{{ cust.name }}</td>
        <td>{{ cust.state }}</td>
        <td>{{ cust.representative }}</td>
      </tr>
    </tbody>
  </table>
  <br><br> 
  <a [routerLink]="['/b']">Go to B</a> 
  
</div> 